# Backend
backend/node_modules/
backend/.env
backend/dist/
backend/build/

# Frontend
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/dist/
frontend/build/

# IDE / OS specific
.DS_Store
Thumbs.db
.vscode/
.idea/